.episode {
  display: flex;
  flex: 1;
  padding: 5px;
}
h2 {
  padding-bottom: 1rem;
  -webkit-box-shadow: 10px 10px 12px -6px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 10px 10px 12px -6px rgba(0, 0, 0, 0.51);
  box-shadow: 10px 10px 12px -6px rgba(0, 0, 0, 0.51);
}
.episodesContainer {
  padding: 10px;
  -webkit-box-shadow: -10px -10px 12px -6px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: -10px -10px 12px -6px rgba(0, 0, 0, 0.51);
  box-shadow: -10px -10px 12px -6px rgba(0, 0, 0, 0.51);
}
.episodeTitle {
  flex: 16;
  text-overflow: ellipsis;
  height: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  min-width: 50px;
}

.episodeDuration {
  flex: 2;
  text-align: end;
}

.episodeDate {
  flex: 3;
  text-align: start;
}
